<body style="font-family: 'Unna', serif;">
  <body style="font-family: 'Unna', serif;">
    <h1 style="margin-left: 13rem;">Search Student</h1>
    <div class="container-fluid" style="width: 100%;">
      <div class="mat-elevation-z8">
        <!-- Display message when there are no matching records -->
        <div *ngIf="dataNotFound" style="padding: 1rem;">
          No matching data found.
        </div>
      <!-- Display table only if there are matching records -->
      <table mat-table [dataSource]="studentData" *ngIf="!dataNotFound">
        <!-- id column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef style="background-color: rgb(7, 58, 75); color: #fff;"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef style="background-color: rgb(7, 58, 75); color: #fff;"> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef style="background-color: rgb(7, 58, 75); color: #fff;"> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
        </ng-container>
    
        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef style="background-color: rgb(7, 58, 75); color: #fff;"> Phone Number </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions" class="flex-end">
          <th mat-header-cell *matHeaderCellDef style="background-color: rgb(7, 58, 75); color: #fff;"> Action </th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/studentDetail', element.id]" class="action-icons"><i class="bi bi-eye"></i></a>
            <a [routerLink]="['/changestudentDetail', element.id]" class="action-icons"><i class="bi bi-pencil"></i></a>
          </td>
        </ng-container>
        
        <!-- Define the displayed columns -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <!-- Add the paginator below the table if there are matching records -->
      <mat-paginator *ngIf="!dataNotFound"
                     [pageSizeOptions]="[10, 15 , 20, 50]" 
                     showFirstLastButtons 
                     aria-label="Select page"
                     [length]="paginatorLength" 
                     [pageSize]="5"
                     (page)="onPageChange($event)">
      </mat-paginator>

      <!-- Display message when there are no matching records -->
      <div *ngIf="dataNotFound" style="padding: 1rem;">
        No matching data found.
      </div>
    </div>
  </div> 
  