<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"></h1>

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
       <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
       <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
    </div>
</div>


<nav aria-label="breadcrumb" style="margin-left: 13rem;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page"> View  Student</li>
        <li class="breadcrumb-item active" aria-current="page"> Id: {{id}} </li>
    </ol>
</nav>


<h1 style="margin-left: 13rem;"> {{student.first_name}} Details</h1>

<ul class="list-group" style="max-width: 100rem; margin-left: 13rem;">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="width: 100%;">
                <b>First Name:</b>
            </div>
            <div class="col">
                {{ student.first_name }}
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 200px;">
                <b>Last Name:</b>
            </div>
            <div class="col">
                {{ student.last_name }}
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width: 200px;">
                <b>Phone:</b>
            </div>
            <div class="col">
                {{ student.phone }}
            </div>
        </div>
    </li>
    
</ul>












































































































































