
<div class="sidebar">
  <a href="#"><img src="assets/images/download.png" alt=""></a>
  <a href="#">Dashboard <i class="bi bi-house-door-fill"></i></a>
  <a href="#">Students <i class="bi bi-people-fill"></i></a>
  <!-- Add more content -->
  <a href="#">Courses <i class="bi bi-book-fill"></i></a>
  <a href="#">Events <i class="bi bi-calendar-fill"></i></a>
  <a href="#">News <i class="bi bi-newspaper"></i></a>
  <a href="#" style="margin-top: 20rem;">Info <i class="bi bi-info-circle"></i></a>
</div>